name: Renovate

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: renovatebot/github-action@v39.0.5
        with:
            token: ${{ secrets.GITHUB_TOKEN }}


            # Optionally, you can specify additional configuration options here
            # For example, to specify a custom config file:
            # config-file: .github/renovate.json